@charset "UTF-8";

header nav .extra-section .profile .sub-menu {
    background-color: #fff;
    width: 324px;
    padding: 20px 10px 10px 20px;
    font-size: 0.7rem;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.1);
}

header nav .extra-section .profile .sub-menu li {
    position: relative;
    padding: 0;
    margin: 0 10px 10px 0;
    display: inline-block;
    vertical-align: middle;
}

header nav .extra-section .profile .sub-menu li a {
    position: relative;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    display: block;
}

.sub-menu > li .item-outline {
    width: 60px;
    height: 60px;
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 4px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    transition: all 0.3s;
}

.sub-menu > li a:hover > .item-outline {
    border-color: #1f9afb;
}

.breakN_bar {
    z-index: 9999;
    position: relative;
    width: 100%;
    min-height: 5px;
    max-height: 35px;
    padding: 0 30px 0 10px;
    display: block;
    box-sizing: border-box;
    font-size: 0.825rem;
    color: #fff;
    line-height: 2.5;
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, color-stop(60%, #209CFF), color-stop(80%, #47D382), color-stop(100%, #FF874D));
    background: -webkit-linear-gradient(left, #209CFF 60%, #47D382 80%, #FF874D 100%);
    background: -o-linear-gradient(left, #209CFF 60%, #47D382 80%, #FF874D 100%);
    background: linear-gradient(90deg, #209CFF 60%, #47D382 80%, #FF874D 100%);
}

.breakN_bar marquee {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.breakN_bar a, header .breakN_bar a:hover {
    color: #fff;
}

.breakN_bar a.close {
    position: absolute;
    top: 7px;
    right: 10px;
}

a.close {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../img/tool/close.svg") center no-repeat;
}

div .section-title-area {
    text-align: center;
    padding-top: 45px;
    padding-bottom: 6px;
}

div.container div.content-center {
    padding-bottom: 1.25rem;
}

@media screen and (max-width: 767px) {
    ul.recommend-results li a {
        padding-left: 12px;
    }

    header nav .extra-section .search .search-go {
        position: absolute;
        right: 38px;
        top: 6px;
        bottom: 6px;
        padding: 8px 12px;
        font-size: 12px;
        height: 36px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 0 4px 4px 0;
        cursor: pointer;
        z-index: 1;
        -webkit-appearance: none;
    }

    header nav .drop-down-menu li .sub-menu {
        padding: 0;
        border-radius: 0;
        width: 100%;
    }

    .owl-theme[data-pull-dots=true] .owl-dots {
        top: -32px;
    }

    section#header header nav.show-mobile-search .extra-section .search {
        position: relative;
    }

    section#header header nav.show-mobile-search .extra-section .search .search-button {
        position: absolute;
        z-index: 3;
        left: 8px;
        top: 4px;
    }

    section#header header nav.show-mobile-search .extra-section .search-field .input-search {
        margin-left: 10px;
        margin-right: 53px;
        height: 36px;
        border-radius: 4px 0 0 4px;
        padding: 0.4rem 0.5rem 0.4rem 2rem;
        box-sizing: border-box;
    }

    ul.recommend-results li.search-seperator small {
        padding-left: 12px;
    }

    section.footer .official-links {
        margin: 20px 0;
    }

    section.footer .official-links a {
        width: 30%;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }

    .bg-is-body {
        background: #f5f5f5;
    }

    .h2, .section-title-area .h2, .section-title-area h2, h2 {
        font-size: 1.4rem;
    }

    .slider-section {
        position: relative;
    }

    .card.product .card-img {
        padding: 0;
        width: 100%;
        min-height: auto;
    }

    .card.product {
        padding: 0;
    }

    .card.product.like-hidden {
        height: auto;
    }

    .card.product .card-text {
        padding: 0.5rem 0.5rem 32px 0.5rem;
    }

    .card.product .card-text .h5 {
        padding-bottom: 16px;
        margin-bottom: 0;
    }

    .card.product .card-text .sub-content {
        padding-bottom: 8px;
    }

    .card.is-special {
        margin: 0;
    }

    .card.is-special .crazy-img img {
        margin: 0;
        max-height: 222px;
    }

    .card.is-special .crazy-text {
        padding: 1rem 0.5rem;
    }

    .card.is-special .crazy-text .h4 {
        font-size: 20px;
    }

    .card {
        -webkit-box-shadow: 0px 0rem 0.6rem rgba(0, 0, 0, 0.25);
        box-shadow: 0rem 0rem 0.6rem rgba(0, 0, 0, 0.25);
    }

    .card .card-action.bottom-center {
        top: initial;
        top: auto;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        text-align: center;
        z-index: 0;
    }

    .slider-section, .container {
        position: relative;
    }

    .hot-more, .package-more, .mobile-more, .net-more, .hami-more {
        position: absolute;
        right: 20px;
        top: 15px;
        font-size: 16px;
    }

    .hot-more a, .package-more a, .mobile-more a, .net-more a, .hami-more a {
        color: #666;
        font-size: 0.8rem;
    }

    .hot-more a:hover, .package-more a:hover, .mobile-more a:hover, .net-more a:hover, .hami-more a:hover {
        color: #209cff;
        text-decoration: none;
    }

    #fav-notification {
        bottom: initial;
        right: 15px;
        left: auto;
        left: initial;
        width: auto;
        z-index: 88;
    }

    #fav-notification .button {
        font-size: 0;
        padding: 0.5rem;
        min-width: auto;
        min-width: initial;
        width: 44px;
        height: 44px;
        line-height: 28px;
    }

    #fav-notification .button {
        transition: all 0s;
    }

    #fav-notification .button .iconic.in-text {
        margin: 0;
    }

    #fav-notification:hover .button, #fav-notification.active .button {
        font-size: 0.7rem;
        padding: 0.45rem 0.65rem 0.5rem 0.65rem;
        width: auto;
        text-indent: 0;
    }

    section.cht-banner.type-g .cht-banner-text {
        padding: 32px 0;
    }

    div .section-title-area {
        text-align: center;
        padding-top: 12px !important;
        padding-bottom: 6px !important;
    }

    .index-mega-banner.cht-banner .cht-banner-img img {
        height: 14rem;
    }

    .index-mega-banner.cht-banner .cht-banner-text {
        height: 14rem;
        max-height: none;
    }

    .index-mega-banner.cht-banner .cht-banner-container {
        height: 28rem !important;
    }

    .index-mega-banner.owl-carousel section.cht-banner .cht-banner-container {
        height: 28rem;
    }

    .index-mega-banner section.cht-banner.type-c .cht-banner-bg-1 img {
        max-width: initial;
        max-width: unset;
    }

    .index-mega-banner.owl-theme[data-pull-dots=true] .owl-dots {
        top: -32px;
    }
}

@media screen and (max-width: 360px) {
    #fill1 .input-field #email {
        width: calc(100% - 26px);
    }
}

@media screen and (orientation:portrait) {
    .owl-carousel section.cht-banner.size-new .cht-banner-container {
        height: auto !important;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    section.cht-banner.size-new {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    section.cht-banner.size-new .order-2 {
        order: 2;
    }

    section.cht-banner.size-new .cht-banner-img {
        padding-bottom: 33%;
        padding-top: 33%;
        height: 0;
    }

    section.cht-banner.size-new .cht-banner-bg-1, section.cht-banner.size-new .cht-banner-bg-2 {
        width: 100%;
        padding-bottom: 133%;
        position: relative;
    }

    section.cht-banner.size-new .cht-banner-bg-1 > div, section.cht-banner.size-new .cht-banner-bg-2 > div {
        position: absolute;
        background-size: contain !important;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        height: 100%;
    }

    section.cht-banner.type-e.size-new .cht-banner-text {
        width: 100%;
        text-align: center;
        max-height: none;
    }

    .index-mega-banner.cht-banner .cht-banner-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .index-mega-banner.cht-banner.size-new .cht-banner-text {
        padding-bottom: 33%;
        padding-top: 33%;
        height: 0;
    }

    .index-mega-banner.cht-banner.size-new .cht-banner-img img {
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        max-width: none;
        width: 100%;
    }
}

.owl-carousel {
    position: relative;
}

.owl-stage-outer {
    overflow: hidden;
}

.no-js .owl-carousel, .owl-carousel.owl-loaded {
    display: block;
}

.owl-theme .owl-nav .nav-circle-right {
    border: 0;
    right: -30px;
    top: calc(50% - 38px);
}

.owl-theme .owl-nav .nav-circle-left {
    border: 0;
    left: -30px;
    top: calc(50% - 38px);
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot span {
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
    cursor: pointer;
}

.owl-theme .owl-dots .owl-dot {
    background: none;
    border: 0;
    padding: 0;
    display: inline-block;
    zoom: 1;
}

.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: none;
}

.tab.pager-tab.tab-slider .owl-nav .owl-next.disabled, .tab.pager-tab.tab-slider .owl-nav .owl-prev.disabled {
    display: none;
}

.tab.pager-tab.tab-slider .owl-nav .owl-next, .tab.pager-tab.tab-slider .owl-nav .owl-prev {
    border: 0;
    padding: 0;
    line-height: 2.5rem;
    height: 54px;
}

button.nav-circle-left:focus, button.nav-circle-right:focus {
    outline: none;
}

.tab.pager-tab.tab-slider .owl-dots.disabled {
    display: none;
}
/* common */
.h2, .section-title-area .h2, .section-title-area h2, h2 {
    font-size: 1.2rem;
}

.tab.pager-tab-icon {
    background: #f7f7f7;
}

.tab.pager-tab-icon a .iconic {
    margin-bottom: .4rem;
}

.tab.pager-tab-icon a span {
    opacity: 1;
}

.tab.pager-tab-icon a.current span, .tab.pager-tab-icon a.current, .tab.pager-tab-icon a:hover {
    color: #209cff;
}

.tab .tab-wrap {
    line-height: 2.6rem;
}

.tab .tab-wrap a {
    color: #666;
    font-weight: 400;
}

.tab .tab-wrap a.active, .tab .tab-wrap a.current {
    color: #333;
}

.form-custom-radio label {
    background: none;
    padding: .1rem 1.2rem;
    color: #666;
}

.form-custom-radio input[type=radio]:checked + label, .form-custom-radio input[type=radio]:focus + label {
    background: none;
    padding: .1rem 1.2rem;
}

.product-description-container {
    font-size: 0.9rem;
}

.card {
    --webkit-box-shadow: 0rem 0rem 0.6rem rgba(0, 0, 0, 0.25);
    box-shadow: 0rem 0rem 0.6rem rgba(0, 0, 0, 0.25);
}

.card div .button, .card p .button {
    box-shadow: none;
    -webkit-box-shadow: none;
}

article {
    width: 90%;
    text-align: justify;
}

.in-page-tab-content {
    font-size: 0.9rem;
}

.lowPrice {
    margin-bottom: 0;
    font-size: 0.8rem;
    line-height: 1.2;
}

.lowPrice small {
    vertical-align: middle;
    line-height: 1;
}

.highPrice {
    margin-bottom: 0;
    line-height: 1.2;
}

.highPrice small {
    vertical-align: middle;
    line-height: 1;
}

.miniature {
    font-size: 0.7rem;
    color: #999;
}

.card.product .card-text .h5 {
    padding-bottom: 0.2rem;
}

.card.product .card-img {
    padding: 0.4rem 0;
}

.pull-up {
    top: 0;
}
/* phones-list-m */
.other-slect-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-size: 0.7rem;
    padding-top: 0.8rem;
    background: #f5f5f5;
    padding-bottom: 0.8rem;
}

.other-slect-section a {
    color: #666;
}

.other-slect-section a:hover {
    text-decoration: none;
}

.other-slect-section .active a, .cht-select-wrapper.active a.cht-select-button, .cht-select-wrapper.active a.cht-select-button.sort-switch {
    color: #209cff;
}

#target section {
    padding-top: 0 !important;
}

#target .section-title-area, #target .section-title-area .h2 {
    padding: 0 !important;
    margin: 0;
    text-align: left;
}

.form-textual input.input-search.search-icon {
    background-position: 0.6rem;
    padding-right: 0;
    border-radius: .6rem 0 0 .6rem;
    width: 42px;
    margin-left: -42px;
    padding-left: 42px;
    font-size: initial;
}

.form-textual.active input.input-search.search-icon {
    width: auto;
}

.form-textual.active input.input-search.search-icon:focus {
    font-size: .7rem !important;
}

.form-textual .sub-menu.one-forth li {
    display: inline-block;
    vertical-align: middle;
}

.form-textual .sub-menu.one-forth .form-custom-radio input[type="checkbox"] {
    -webkit-appearance: none;
    display: block;
    height: 0;
    width: 0;
    padding: 0;
    margin-right: 0;
}

.form-textual .sub-menu.one-forth .form-custom-radio input[type=checkbox] + label {
    background: #fff;
    padding: 0.1rem 1rem;
    font-size: 0.7rem;
    min-width: 5rem;
}

.form-textual .sub-menu.one-forth .form-custom-radio input[type=checkbox]:checked + label {
    background: #fff;
    border: 1px solid #209cff;
    color: #209cff;
}

.cht-select-wrapper a.cht-select-button, .cht-select-wrapper a.cht-select-button.sort-switch {
    background-position: right;
    background-color: transparent;
    padding: 6px 28px 6px 6px;
    font-size: .7rem;
    color: #666;
}

.cht-select-wrapper a.cht-select-button:active, .cht-select-wrapper a.cht-select-button:focus {
    color: #209cff;
}

#featured-tags {
    height: auto;
    margin-top: 1.5rem;
}

#featured-tags .tags-container {
    margin: 1px auto;
    padding: 0 0.5rem 1rem 0.5rem;
}

#featured-tags .tags-container a.tag.tag-outline {
    margin-right: 0.2rem;
    color: #666;
}

#featured-tags .tags-container a.tag.tag-outline.current {
    color: #209cff;
    background: white;
    border: 1px solid #209cff;
}

#featured-tags .tags-container a.tag.tag-outline.current:hover {
    color: #209cff;
}

.filter-search-field .iPM-search {
    display: none !important;
}

.filter-search-field.active .iPM-search {
    display: block !important;
    background: #999;
}

.filter-search-close {
    position: absolute;
    background: #fff;
    right: 55px;
    top: 12px;
    cursor: pointer;
    display: none;
}

.filter-search-close .iconic {
    opacity: 0.4;
}

.filter-search-field.active .filter-search-close {
    display: inline-block;
}

.form-textual.filter-search-field {
    position: absolute;
    width: 0;
}

.form-textual.filter-search-field.active {
    width: auto;
    right: 0;
    left: 42px;
}

.filter-tab .filter-container {
    padding-bottom: 0;
    margin-top: 0;
    overflow-x: inherit;
    box-shadow: 0rem 0rem 0.6rem rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0rem 0rem 0.6rem rgba(0, 0, 0, 0.25);
}

.filter-tab .filter-container:after {
    content: none;
}

.filter-tab .filter-container .filter-wrap {
    padding-left: 42px;
    overflow-x: inherit;
}

.filter-tab .filter-container .other-slect-section {
    background: #efefef;
    padding: 0 1rem;
    border-radius: 0 .6rem .6rem 0;
}

.filter-tab .form-textual.select-section {
    width: 108px;
}

.filter-tab .form-textual span {
    background: url(//web-eshop.cdn.hinet.net/eshop/img/form/arrow_down.svg) right 0.3rem center no-repeat;
    padding-left: 0.6rem;
    line-height: 2;
    height: 2.5rem;
    min-width: 5.8rem;
    border: none;
    color: #666;
    font-size: .7rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    cursor: pointer;
    text-align: left;
    background-position: right center;
    padding-right: calc(.3rem + 22px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.filter-tab .form-textual .sub-menu {
    position: absolute;
    background: white;
    height: auto;
    border: none;
    top: 0;
    left: -1.5rem;
    padding: .2rem .6rem .5rem .6rem;
    width: auto;
    min-width: 108px;
    font-size: .875rem;
    margin-top: 0.5rem;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    z-index: 12;
    opacity: 1;
    box-shadow: 0rem 0rem 0.6rem rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0rem 0rem 0.6rem rgba(0, 0, 0, 0.25);
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    transform: scale(1);
    -webkit-transform: scale(1);
    display: block;
}

.filter-tab .form-textual:hover .sub-menu, .filter-tab .form-textual:active .sub-menu {
    display: block;
    height: auto;
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    overflow: visible;
    z-index: 10;
}

.filter-tab .form-textual .sub-menu li {
    font-size: 0.7rem;
    padding: 0;
    border: none;
    list-style: none;
    white-space: nowrap;
}

.filter-tab .form-textual .sub-menu a {
    display: block;
    padding: .3em 0;
    line-height: 1.5;
    color: #333;
}

.filter-tab .form-textual .sub-menu a:focus, .filter-tab .form-textual .sub-menu a:active {
    text-decoration: none;
}

.filter-tab .form-textual .sub-menu-block {
    position: relative;
    padding-top: 0;
    display: none;
}

.filter-tab .form-textual.active .sub-menu-block {
    display: block;
}

.filter-tab .form-textual.advanced-select-section .sub-menu-block {
    position: absolute;
    left: 0.5rem;
    right: 0.5rem;
    width: auto;
    top: 2.5rem;
}

.filter-tab .form-textual.active .advanced-select-section .sub-menu-block, .filter-tab .form-textual:focus .advanced-select-section .sub-menu-block {
    display: block;
}

.filter-tab .form-textual .sub-menu-block .sub-menu.one-forth {
    white-space: normal;
}

.filter-tab .form-textual .sub-menu-block .sub-menu.one-forth .form-custom-radio {
    margin-bottom: 0.1rem;
}

.filter-tab .form-textual:last-child {
    padding-right: 0;
}
/* phones-detail-m */
.device-detail {
    padding-bottom: 0;
}

.device-detail .product-price {
    margin: 0.8rem auto;
    height: 1.5rem;
}

#h1_ProductName {
    width: 90%;
}

#h1_ProductName .like-button {
    position: absolute;
    line-height: 1;
    transform: scale(1.2);
    right: 1rem;
    top: 1rem;
}

.credit-card-info {
    font-size: 0.9rem;
}

.credit-card-info .card {
    margin-bottom: 0;
    box-shadow: none;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0;
}

.credit-card-info .card .card-text {
    padding: 1.2rem 0;
}

.credit-card-info .accordian-group.alt.active .accordian-title {
    background: url("../img/plus-outline.svg") left 0 center no-repeat;
    background-size: 1.2rem;
    padding-left: 36px;
}

.credit-card-info .accordian-group.alt .accordian-title {
    background: url("../img/minus-outline.svg") left 0 center no-repeat;
    background-size: 1.2rem;
    padding-left: 36px;
}

.credit-card-info .accordian-content {
    padding-left: 36px;
    font-size: 0.9rem;
}

.credit-card-info .accordian-content hr {
    border: 0;
    margin-bottom: 0;
}

#div_RateContent {
    font-size: 0.9rem;
    margin: 1rem 0 0 0;
    padding: 0;
}

#div_RateContent .card ul, .tooltip-wrap ul {
    list-style: none;
    margin-left: 0;
}

#div_RateContent .card li::before, .tooltip-wrap li::before {
    content: '●';
    color: #ccc;
    display: inline-block;
    width: 1rem;
    transform: scale(0.3);
}

#div_RateContent .wifi-count {
    font-size: 1.3rem;
}

#div_RateContent .wifi-count .icon-wifi {
    width: 1.5rem;
    vertical-align: middle;
}

#div_RateContent .wifi-count span {
    vertical-align: middle;
}
/* faq */
.faq-list .card {
    margin-bottom: 0;
    box-shadow: none;
    border-bottom: 1px solid #dfdfdf;
    border-radius: 0;
}

.faq-list .card .card-text {
    padding: 1.2rem 0;
    word-break: break-all;
    text-align: justify;
}

.faq-list .accordian-group.alt.active .accordian-title {
    background: url("../img/plus-outline.svg") left 0 center no-repeat;
    background-size: 1.2rem;
    padding-left: 36px;
}

.faq-list .accordian-group.alt .accordian-title {
    background: url("../img/minus-outline.svg") left 0 center no-repeat;
    background-size: 1.2rem;
    padding-left: 36px;
}

.faq-list .accordian-content {
    padding-left: 36px;
    font-size: 0.9rem;
}

.faq-list .accordian-content hr {
    border: 0;
    margin-bottom: 0;
}
/*<!-- 190508 增加聯絡客服按鈕 -->*/
#fav-notification {
    bottom: 130px !important;
}

#btn-customer-service {
    position: fixed;
    display: flex;
    bottom: 80px;
    right: 15px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    z-index: 60;
}

#btn-customer-service .button {
    background: #209cff;
    font-size: 0;
    padding: 0.5rem;
    margin: 0;
    min-width: auto;
    min-width: initial;
    width: 44px;
    height: 44px;
    line-height: 28px;
    transition: all 0s;
}

#btn-customer-service:hover .button, #btn-customer-service.active .button {
    font-size: 0.7rem;
    padding: 0.45rem 0.65rem 0.5rem 0.65rem;
    width: auto;
    text-indent: 0;
}
/*<!-- 190508 增加聯絡客服按鈕 -->*/
/* 190402 目錄頁修改 */
.catalog-list .card-hover {
    display: none;
}

.catalog-list .product-brand {
    display: block;
    color: #999;
    margin-bottom: 0.2rem;
    font-size: 0.75rem;
}

.catalog-list .product-model {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.catalog-list .card-wrapper {
    position: relative;
}

.catalog-list .card.product .card-img {
    padding: 0;
}

.catalog-list .card.product .card-text {
    padding: 0.5rem 0.5rem 0 0.5rem;
}

.catalog-list .card.product .card-text .sub-content, .catalog-list .card.product .card-text .miniature {
    display: inline-block !important;
    line-height: 1;
}

.catalog-list .card-action.mobile-only {
    position: relative;
    line-height: 1;
    padding-bottom: 0.6rem;
}

.catalog-list .like-button {
    line-height: 1;
}

.catalog-list .tags-block {
    margin-bottom: 0.4rem;
    line-height: 1;
}

.catalog-list .tag {
    padding: 0.1rem 0.3rem;
    margin-left: 0.1rem;
    margin-top: 4px;
    line-height: 1.2;
    font-size: 0.6rem;
    border-radius: 2px;
    vertical-align: middle;
}

.catalog-list .tag.tag-white {
    background: #fff;
    border: 1px solid #ccc;
    color: #999;
}

.catalog-list .tag.tag-orange {
    border: 1px solid #ff874d;
}

.catalog-list .tag.tag-gray {
    background: #a1a1a1;
    border: 1px solid #a1a1a1;
    color: #fff;
}
/* 190402 目錄頁修改 */
/* 190402 目錄頁 - 首頁卡片 修改 */
.index-hot-product .card:hover {
    box-shadow: none;
}

.index-hot-product .card.product .product-brand {
    display: block;
    color: #999;
    margin-bottom: 0.2rem;
    font-size: 0.75rem;
}

.index-hot-product .card.product .product-model {
    font-size: 1rem;
}

.index-hot-product .card-wrapper {
    padding: .5rem .4rem;
}

.index-hot-product .card.product .card-text {
    padding: 0.5rem 0.5rem 20px 0.5rem;
}

.index-hot-product .card.product .card-text .sub-content {
    font-size: 1rem;
}

.index-hot-product .tags-block {
    margin-bottom: 0.8rem;
    line-height: 1;
}

.index-hot-product .tag {
    padding: 0.1rem 0.3rem;
    margin-left: 0.1rem;
    margin-top: -2px;
    line-height: 1.2;
    font-size: 0.6rem;
    border-radius: 2px;
    vertical-align: middle;
}

.index-hot-product .tag.tag-white {
    background: #fff;
    border: 1px solid #ccc;
    color: #999;
}

.index-hot-product .tag.tag-orange {
    border: 1px solid #ff874d;
}

.index-hot-product .tag.tag-gray {
    background: #a1a1a1;
    border: 1px solid #a1a1a1;
    color: #fff;
}
/* 190402 目錄頁 - 首頁卡片 修改 */
/* 190402 目錄頁 - 比較頁 - 名稱及價格區塊修改 + 收藏頁card hover取消及價格、Tag區塊修改 */
#compare_choices .card.product .card-text .h5 {
    max-height: none;
}

#compare_choices .product-brand {
    display: block;
    color: #999;
    margin-bottom: 0.2rem;
    font-size: 0.75rem;
}

#compare_choices .product-model {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#compare_choices .price-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0.4rem 0;
}

#compare_choices {
    padding-bottom: 0.6rem;
}

#compare_choices .card.product {
    height: auto;
}

#compare_choices .card.product:hover {
    box-shadow: none;
    -webkit-box-shadow: none;
}

#compare_choices .card.product .card-text {
    padding: 0;
}

#compare_choices .card.product .card-text .sub-content {
    padding-bottom: 0.1rem;
}

#compare_choices .tags-block {
    margin-bottom: 0.6rem;
    line-height: 1;
}

#compare_choices .tag {
    padding: 0.1rem 0.3rem;
    margin-left: 0.2rem;
    margin-top: 4px;
    line-height: 1.2;
    font-size: 0.6rem;
    border-radius: 2px;
    vertical-align: middle;
}

#compare_choices .tag.tag-white {
    background: #fff;
    border: 1px solid #ccc;
    color: #999;
}

#compare_choices .tag.tag-orange {
    border: 1px solid #ff874d;
}

#compare_choices .tag.tag-gray {
    background: #a1a1a1;
    border: 1px solid #a1a1a1;
    color: #fff;
}

#compare_choices .card .card-action.bottom-center {
    position: relative;
    line-height: 1;
    margin: 0;
    bottom: 0;
}
/* 190402 目錄頁 - 比較頁 - 名稱及價格區塊修改 + 收藏頁card hover取消及價格、Tag區塊修改 */
.index-fast-menu .in-page-tab-switcher a {
    position: relative;
}

    .index-fast-menu .in-page-tab-switcher a img.menu-icon-hover {
        position: absolute;
        top: 14px;
        left: 17px;
        pointer-events: none;
        opacity: 0;
        transition: all .3s;
        -webkit-transition: all .3s;
    }

    .index-fast-menu .in-page-tab-switcher a:hover img.menu-icon-hover {
        opacity: 1;
    }
/* 190815 參加抽獎活動 */
#lottery-box.lightbox.lottery-style {
    width: 320px;
    padding: 1.2rem;
}

    #lottery-box.lightbox.lottery-style .h3 {
        font-size: 1rem;
    }

    #lottery-box.lightbox.lottery-style h4 {
        font-size: 0.9rem;
    }

    #lottery-box.lightbox.lottery-style .lightbox-content {
        font-size: 0.9rem;
        padding: 0.8rem 0;
    }

    #lottery-box.lightbox.lottery-style .form-textual label {
        font-size: 0.8rem;
        line-height: 1.6;
    }

    #lottery-box.lightbox.lottery-style input[type=text] {
        font-size: initial;
        font-weight: 400;
        background: white;
        border: 1px solid #d6d6d6;
        padding: 0.5rem;
        margin-top: 0.4rem;
        border-radius: 4px;
        -moz-appearance: none;
        -webkit-appearance: none;
        line-height: 18px;
        width: 100%;
        display: block;
    }

    #lottery-box.lightbox.lottery-style .form-textual label[data-cht-checkbox] {
        padding-left: 20px;
    }

    #lottery-box.lightbox.lottery-style .lottery-box-sheet.form-group .form-textual {
        margin: 1rem 0;
        width: auto;
    }

    #lottery-box.lightbox.lottery-style label[data-cht-checkbox] i.data-symbol {
        margin-left: -20px;
        background-size: contain;
    }

    #lottery-box.lightbox.lottery-style .button {
        box-shadow: none;
    }

#lottery-box.lightbox .button.btn-gray {
    background: #fff;
    border: 1px solid #ccc !important;
    color: #666;
}

@media screen and (max-width: 320px) {
    #lottery-box.lightbox.lottery-style {
        width: 280px;
    }
}

.card.recommend-phone .h3 {
    font-size: 1rem;
}

.card.recommend-phone .is-6.card-img {
    min-height: auto;
}

.card.recommend-phone .is-6 .card-text {
    min-width: auto;
    font-size: 0.8rem;
    padding: 0 0.4rem;
}

@media screen and (max-width: 767px) {
    .index-fast-menu.tab.icon-tab .tab-wrap {
        padding: 1rem 0.6rem 0 0.6rem;
    }

    .index-fast-menu.tab.icon-tab .tab-wrap a {
        width: 25%;
        flex-direction: column;
        border: 0;
        padding: 0;
        margin-bottom: 1.2rem;
    }

    .index-fast-menu.tab.icon-tab .tab-wrap a span {
        line-height: 1;
    }

    .index-fast-menu.tab.icon-tab .tab-wrap a span.in-page-tab-img {
        border-radius: 50%;
        border: 1px solid #209cff;
        margin-bottom: 0.6rem;
        line-height: 0.7;
        box-sizing: content-box;
    }

    .index-fast-menu.tab.icon-tab .tab-wrap a span.in-page-tab-img img {
        margin-right: 0;
        height: 36px;
        width: 36px;
        padding: 0.6rem;
    }
}

#queryBlock {
    -webkit-box-sizing: content-box;
}

#queryBlock section {
    -webkit-box-sizing: border-box;
}

/*220510 增加固定式 gotop*/
.footer-scroll-top {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .4rem;
    margin-top: .3rem;
    height: 36px;
    width: 36px;
    user-select: none;
    cursor: pointer;
    z-index: 10;
}